name: Deploying Springboot(War) to Tomcat on Azure Windows Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-springboot-app:
    name: Build Springboot Application
    runs-on: ubuntu-latest
    steps:
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Verify Java Version
        run: java -version

      - name: Download the Code
        uses: actions/checkout@v3

      - name: Fix the Permissions of mvnw command
        run: chmod +x mvnw

      - name: replace the REPLACEVERSIOHVALUEWITHGITHUBVALUE in pom.xml with Build Number
        run: sed -i "s/REPLACEVERSIOHVALUEWITHGITHUBVALUE/${{github.run_number}}/g" pom.xml

      - name: Build the Code
        run: ./mvnw package

      - name: Upload Action Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: myartif
          path: './target/apiservice-${{github.run_number}}.war'

      - name: Verify the Build is Created or Not
        run: ls -l target/*.war  

  deployment-springboot-app:

    name: Deploy Springboot Application
    runs-on: ubuntu-latest
    needs: build-springboot-app
    steps:

      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: myartif
          path: 'target/apiservice-${{github.run_number}}.war'

      - run: ls 


      - name: Deploy the Build to Tomcat
        uses: mdallasanta/ssh-scp-deploy@v1.2.0
        with:
          local: 'apiservice-${{github.run_number}}.war'                                                 
          remote: 'C:\Program Files\Apache Software Foundation\Tomcat 10.0\webapps\'                                               
          host: ${{secrets.HOST}}                                  
          user: ${{secrets.USER}}
          password: ${{secrets.PASSWORD}}
          pre_upload: echo "This will be executed before the upload!"
          post_upload: echo "This will be executed after the upload!"
          ssh_options: -o StrictHostKeyChecking=no
          scp_options: -v