name: Deploying SpringBoot (war) to Tomcat on Azure Windows Server

on:
  push:
    branches:
      -main
  workflow_dispatch:

jobs:
  build-spring-app:
    name: Build Springboot Application 
    runs-on: ubuntu-latest
    steps:
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      -name: Verify Java Version
        run: java -version

      # - name: Download the Code 

      # - name: Build the code 

      # - name: Verify the Build is Created or not

      # - name: Deploy the Build to Tomcat (SSH to window)
